.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
    color: #ff69b4;
    font-weight: bold;
}


.posts-container {
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
}

.error-message {
    color: red;
    font-size: 1.2rem;
    font-weight: bold;
}