.post-likes-comments-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1rem;
    background-color: #f1f1f1;
    border-top: 1px solid #ddd;
    border-radius: 0.5rem;
    font-size: 0.75rem;
}

.likes, .comments {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.likes-icon, .comments-icon {
    width: 1rem;
    height: 1rem;
}

.likes-icon {
    color: #ff4081;
}

.comments-icon {
    color: #2196f3;
}