.post-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1rem;
    background-color: #f1f1f1;
    border-bottom: 1px solid #ddd;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.user-icon {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
}

.user-name {
    font-weight: bold;
}

.time {
    color: #444;
}